body
  --ank-background: url("../img/anker.webp") center
  --bc-background: url("../img/bandcommunity.png") 1px
  --ci-background: url("../img/conne_island.webp") -1px
  --df-background: url("../img/darkflower.png") center
  --fk-background: url("../img/felsenkeller.webp") center
  --fw-background: url("../img/festwiese.png") center
  --ha-background: url("../img/hausauensee.jpg") center
  --hr-background: url("../img/hellraiser.webp") center
  --lm-background: url("../img/messe.webp") center
  --mb-background: url("../img/moritzbastei.png") center
  --pb-background: url("../img/parkbuehne.webp") center
  --qi-background: url("../img/qi-arena.png") center
  --rb-background: url("../img/red-bull-arena.png") center
  --rl-background: url("../img/rocklounge.png") center
  --sm-background: url("../img/soltmann.png") center
  --tb-background: url("../img/tankbar.webp") center
  --tt-background: url("../img/taeubchenthal.svg") center
  --ut-background: url("../img/ut.png") center
  --w2-background: url("../img/werk2.webp") center

main
  margin-top: 7px

.events
  padding-left: 80px
  overflow: hidden
  position: relative
  column-width: 300px
  gap: 0
  &:nth-child(2n)
    background: #202020
  .date
    position: absolute
    left: 2px
    padding-top: 5px
    width: 76px
    &:hover
      color: white

.event
  box-shadow: 0 0 0 4px rgba(52, 52, 52, 0.7)
  margin: 5px
  width: 290px
  min-height: 30px
  height: fit-content
  max-height: fit-content
  color: #fefefe
  background-color: black
  text-decoration: none
  display: inline-block
  &:hover
    box-shadow: 0 0 0 4px #c0c0c0
  &:first-line
    line-height: 32px
  &:before
    content: " "
    float: left
    display: block
    width: 32px
    height: 32px
    border: 0
    background-repeat: no-repeat !important
    background-color: transparent !important
    background-size: contain !important
  .event-img img
    vertical-align: bottom

  &.ank
    background-color: #ffffff
    color: #000000
    &:before
      background: var(--ank-background)
  &.bc
    background-color: #167aad
    color: #fefefe
    &:before
      background: var(--bc-background)
  &.ci
    background-color: #d8d895
    color: black
    &:before
      background: var(--ci-background)
  &.df
    background-color: #09212a
    &:before
      background: var(--df-background)
  &.fk
    background-color: #fefefe
    color: #1b2024
    &:before
      background: var(--fk-background)
  &.fw
    background-color: #00527e
    color: white
    &:before
      background: var(--fw-background)
  &.ha
    background-color: #2e4d77
    color: #f8f4e9
    &:before
      background: var(--ha-background)
  &.hr
    background-color: black
    color: #e61e1e
    &:before
      background: var(--hr-background)
  &.lm
    background-color: #f7f8f8
    color: #06a0e2
    &:before
      background: var(--lm-background)
  &.mb
    &:before
      background: var(--mb-background)
  &.pb
    background-color: #116e28
    color: #ffcc03
    &:before
      background: var(--pb-background)
  &.qi
    background-color: #00527e
    color: white
    &:before
      background: var(--qi-background)
  &.rb
    background-color: #f7f8f8
    color: #dd0741
    &:before
      background: var(--rb-background)
  &.rl
    &:before
      background: var(--rl-background)
  &.sm
    background-color: #101015
    &:before
      background: var(--sm-background)
  &.tb
    background-color: #e8e6d4
    color: black
    &:before
      background: var(--tb-background)
  &.tt
    background-color: #333333
    &:before
      background: var(--tt-background)
  &.ut
    background-color: #fff
    color: #b19a71
    &:before
      background: var(--ut-background)
  &.w2
    background-color: #20110e
    color: #ffffff
    &:before
      background: var(--w2-background)


#event-filter, input.filter[type="checkbox"]
  display: none

.filters
  overflow: hidden
  height: 1.1em

  label.toggle
    display: block
    color: white
    cursor: var(--metalhand)
    &:before, &:after
      content: "➤"
      display: inline-block
      margin: 0 4px 0 3px

  .toggle-down
    &:before, &:after
      transform: rotate(90deg)
  .toggle-up
    &:before, &::after
      transform: rotate(-90deg)

  label:not(.toggle)
    color: white
    padding-right: 1px
    margin: 1px
    line-height: 30px
    display: inline-block
    border: #2a882a solid 4px
    &:not(.setting)::before
      content: ""
      width: 30px
      height: 30px
      display: inline-flex
      vertical-align: bottom
      background-repeat: no-repeat !important
      background-size: contain !important
      background-color: transparent !important

    &.ank
      background-color: #ffffff
      color: #000000
      &::before
        background: var(--ank-background)
    &.bc
      background-color: #167aad
      color: #fefefe
      &::before
        background: var(--bc-background)
    &.ci
      background-color: #d8d895
      color: black
      &::before
        background: var(--ci-background)
    &.df
      background-color: #09212a
      &::before
        background: var(--df-background)
    &.fk
      background-color: #fefefe
      color: #1b2024
      &::before
        background: var(--fk-background)
    &.fw
      background-color: #00527e
      color: white
      &::before
        background: var(--fw-background)
    &.ha
      background-color: #2e4d77
      color: #f8f4e9
      &::before
        background: var(--ha-background)
    &.hr
      background-color: black
      color: #e61e1e
      &::before
        background: var(--hr-background)
    &.lm
      background-color: #f7f8f8
      color: #06a0e2
      &::before
        background: var(--lm-background)
    &.mb
      &::before
        background: var(--mb-background)
    &.pb
      background-color: #116e28
      color: #ffcc03
      &::before
        background: var(--pb-background)
    &.qi
      background-color: #00527e
      color: white
      &::before
        background: var(--qi-background)
    &.rb
      background-color: #f7f8f8
      color: #dd0741
      &::before
        background: var(--rb-background)
    &.rl
      &::before
        background: var(--rl-background)
    &.sm
      background-color: #101015
      &::before
        background: var(--sm-background)
    &.tb
      background-color: #e8e6d4
      color: black
      &::before
        background: var(--tb-background)
    &.tt
      background-color: #333333
      &::before
        background: var(--tt-background)
    &.ut
      background-color: #fff
      color: #b19a71
      &::before
        background: var(--ut-background)
    &.w2
      background-color: #20110e
      color: #ffffff
      &::before
        background: var(--w2-background)

#flyer-toggle:checked ~ .filters label[for="flyer-toggle"],
#filter-loc-ank:checked ~ .filters label[for="filter-loc-ank"],
#filter-loc-bc:checked ~ .filters label[for="filter-loc-bc"],
#filter-loc-ci:checked ~ .filters label[for="filter-loc-ci"],
#filter-loc-df:checked ~ .filters label[for="filter-loc-df"],
#filter-loc-fk:checked ~ .filters label[for="filter-loc-fk"],
#filter-loc-fw:checked ~ .filters label[for="filter-loc-fw"],
#filter-loc-ha:checked ~ .filters label[for="filter-loc-ha"],
#filter-loc-hr:checked ~ .filters label[for="filter-loc-hr"],
#filter-loc-lm:checked ~ .filters label[for="filter-loc-lm"],
#filter-loc-mb:checked ~ .filters label[for="filter-loc-mb"],
#filter-loc-pb:checked ~ .filters label[for="filter-loc-pb"],
#filter-loc-qi:checked ~ .filters label[for="filter-loc-qi"],
#filter-loc-rb:checked ~ .filters label[for="filter-loc-rb"],
#filter-loc-rl:checked ~ .filters label[for="filter-loc-rl"],
#filter-loc-sm:checked ~ .filters label[for="filter-loc-sm"],
#filter-loc-tb:checked ~ .filters label[for="filter-loc-tb"],
#filter-loc-tt:checked ~ .filters label[for="filter-loc-tt"],
#filter-loc-ut:checked ~ .filters label[for="filter-loc-ut"],
#filter-loc-w2:checked ~ .filters label[for="filter-loc-w2"]
  border-color: #d81b60

#flyer-toggle:checked ~ main .event picture,
#filter-loc-ank:checked ~ main .event.ank,
#filter-loc-bc:checked ~ main .event.bc,
#filter-loc-ci:checked ~ main .event.ci,
#filter-loc-df:checked ~ main .event.df,
#filter-loc-fk:checked ~ main .event.fk,
#filter-loc-fw:checked ~ main .event.fw,
#filter-loc-ha:checked ~ main .event.ha,
#filter-loc-hr:checked ~ main .event.hr,
#filter-loc-lm:checked ~ main .event.lm,
#filter-loc-mb:checked ~ main .event.mb,
#filter-loc-pb:checked ~ main .event.pb,
#filter-loc-qi:checked ~ main .event.qi,
#filter-loc-rb:checked ~ main .event.rb,
#filter-loc-rl:checked ~ main .event.rl,
#filter-loc-sm:checked ~ main .event.sm,
#filter-loc-tb:checked ~ main .event.tb,
#filter-loc-tt:checked ~ main .event.tt,
#filter-loc-ut:checked ~ main .event.ut,
#filter-loc-w2:checked ~ main .event.w2
    display: none

#filter-toggle:checked ~ .filters
  height: 100%
  .toggle-down
    display: none