body {
  background: black;
  color: #a8a8a8;
  font-family: sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  --metalhand: url("../img/metalhand.cur"), url("../img/metalhand.png"), auto; }

a {
  text-decoration: none;
  color: #a8a8a8; }
  a[href] {
    cursor: var(--metalhand); }

header {
  display: grid;
  grid-column: 3;
  grid-template-columns: 80px auto 60px;
  height: 100px; }
  header .update-time {
    font-size: 9pt; }
  header .logo {
    display: block;
    height: 100%;
    background: url("../img/logo.svg") no-repeat center;
    background-size: contain; }
  header div:last-child {
    padding: 5px; }
  header .github {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("../img/GitHub-Mark-Light-64px.png") no-repeat center;
    background-size: contain;
    opacity: 50%; }
  header .github:hover {
    opacity: 100%; }
  header a:hover {
    color: white; }

@media (max-width: 671px) {
  header {
    height: 65px; } }

body {
  --ank-background: url("../img/anker.webp") center;
  --bc-background: url("../img/bandhaus.webp") center;
  --ci-background: url("../img/conne_island.webp") -1px;
  --df-background: url("../img/darkflower.webp") center;
  --fest-background: url("../img/metalhand.gif") center;
  --fk-background: url("../img/felsenkeller.webp") center;
  --fw-background: url("../img/festwiese.png") center;
  --ha-background: url("../img/hausauensee.jpg") center;
  --hr-background: url("../img/hellraiser.webp") center;
  --lm-background: url("../img/messe.webp") center;
  --mb-background: url("../img/moritzbastei.png") center;
  --mk-background: url("../img/muehlkeller.png") center;
  --noel-background: url("../img/noel.webp") center;
  --pb-background: url("../img/parkbuehne.png") center;
  --qi-background: url("../img/qi-arena.png") center;
  --rb-background: url("../img/red-bull-arena.png") center;
  --rl-background: url("../img/rocklounge.png") center;
  --sm-background: url("../img/soltmann.png") center;
  --tt-background: url("../img/taeubchenthal.svg") center;
  --ut-background: url("../img/ut.png") center;
  --w2-background: url("../img/werk2.webp") center;
  --wgt-background: url("../img/wgt.png") center;
  --zf-background: url("../img/zf.png") center; }

main {
  margin-top: -12px; }

.events {
  padding-left: 80px;
  overflow: hidden;
  position: relative;
  column-width: 300px;
  gap: 0; }
  .events:nth-child(2n) {
    background: #202020; }
  .events .date {
    position: absolute;
    left: 2px;
    padding-top: 5px;
    width: 76px; }
    .events .date:hover {
      color: white; }

.event {
  box-shadow: 0 0 0 4px rgba(52, 52, 52, 0.7);
  margin: 5px;
  width: 290px;
  min-height: 30px;
  height: fit-content;
  max-height: fit-content;
  color: #fefefe;
  background-color: black;
  text-decoration: none;
  display: inline-block; }
  .event:hover {
    box-shadow: 0 0 0 4px #c0c0c0; }
  .event:first-line {
    line-height: 32px; }
  .event:before {
    content: " ";
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    border: 0;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    background-size: contain !important; }
  .event .event-img img {
    vertical-align: bottom; }
  .event.ank {
    background-color: #ffffff;
    color: #000000; }
    .event.ank:before {
      background: var(--ank-background); }
  .event.bc {
    background-color: #006598;
    color: #fff; }
    .event.bc:before {
      background: var(--bc-background); }
  .event.ci {
    background-color: #d8d895;
    color: black; }
    .event.ci:before {
      background: var(--ci-background); }
  .event.df {
    background-color: #111111;
    color: #FFFFFF; }
    .event.df:before {
      background: var(--df-background); }
  .event.fest {
    color: red;
    font-weight: bold; }
    .event.fest:before {
      background: var(--fest-background); }
  .event.fk {
    background-color: #fefefe;
    color: #1b2024; }
    .event.fk:before {
      background: var(--fk-background); }
  .event.fw {
    background-color: #00527e;
    color: white; }
    .event.fw:before {
      background: var(--fw-background); }
  .event.ha {
    background-color: #2e4d77;
    color: #f8f4e9; }
    .event.ha:before {
      background: var(--ha-background); }
  .event.hr {
    background-color: black;
    color: #e61e1e; }
    .event.hr:before {
      background: var(--hr-background); }
  .event.lm {
    background-color: #f7f8f8;
    color: #06a0e2; }
    .event.lm:before {
      background: var(--lm-background); }
  .event.mb:before {
    background: var(--mb-background); }
  .event.mk {
    background: white;
    color: black; }
    .event.mk:before {
      background: var(--mk-background); }
  .event.noel {
    background-color: #00503c;
    color: #dad8d2; }
    .event.noel:before {
      background: var(--noel-background); }
  .event.pb {
    background-color: white;
    color: #004627; }
    .event.pb:before {
      background: var(--pb-background); }
  .event.qi {
    background-color: #00527e;
    color: white; }
    .event.qi:before {
      background: var(--qi-background); }
  .event.rb {
    background-color: #f7f8f8;
    color: #dd0741; }
    .event.rb:before {
      background: var(--rb-background); }
  .event.rl:before {
    background: var(--rl-background); }
  .event.sm {
    background-color: #101015; }
    .event.sm:before {
      background: var(--sm-background); }
  .event.tt {
    background-color: #333333; }
    .event.tt:before {
      background: var(--tt-background); }
  .event.ut {
    background-color: #4d4d4c;
    color: white; }
    .event.ut:before {
      background: var(--ut-background); }
  .event.w2 {
    background-color: #20110e;
    color: #ffffff; }
    .event.w2:before {
      background: var(--w2-background); }
  .event.wgt {
    background-color: #333;
    color: #bbb; }
    .event.wgt:before {
      background: var(--wgt-background); }
  .event.zf {
    background-color: white;
    color: #dc1e00; }
    .event.zf:before {
      background: var(--zf-background); }

#event-filter, input.filter[type="checkbox"] {
  display: none; }

.filters {
  position: relative;
  top: -20px;
  width: 200px;
  display: inline-block; }
  .filters[open] {
    width: 100%; }
  .filters summary {
    color: white;
    cursor: var(--metalhand);
    display: inline-list-item;
    padding: 5px; }
  .filters label {
    color: white;
    padding-right: 1px;
    margin: 1px;
    line-height: 30px;
    display: inline-block;
    border: #2a882a solid 4px; }
    .filters label:not(.setting)::before {
      content: "";
      width: 30px;
      height: 30px;
      display: inline-flex;
      vertical-align: bottom;
      background-repeat: no-repeat !important;
      background-size: contain !important;
      background-color: transparent !important; }
    .filters label.ank {
      background-color: #ffffff;
      color: #000000; }
      .filters label.ank::before {
        background: var(--ank-background); }
    .filters label.bc {
      background-color: #006598; }
      .filters label.bc::before {
        background: var(--bc-background); }
    .filters label.ci {
      background-color: #d8d895;
      color: black; }
      .filters label.ci::before {
        background: var(--ci-background); }
    .filters label.df {
      background-color: #111111;
      color: #ffffff; }
      .filters label.df::before {
        background: var(--df-background); }
    .filters label.fest {
      color: red;
      font-weight: bold; }
      .filters label.fest:before {
        background: var(--fest-background); }
    .filters label.fk {
      background-color: #fefefe;
      color: #1b2024; }
      .filters label.fk::before {
        background: var(--fk-background); }
    .filters label.fw {
      background-color: #00527e;
      color: white; }
      .filters label.fw::before {
        background: var(--fw-background); }
    .filters label.ha {
      background-color: #2e4d77;
      color: #f8f4e9; }
      .filters label.ha::before {
        background: var(--ha-background); }
    .filters label.hr {
      background-color: black;
      color: #e61e1e; }
      .filters label.hr::before {
        background: var(--hr-background); }
    .filters label.lm {
      background-color: #f7f8f8;
      color: #06a0e2; }
      .filters label.lm::before {
        background: var(--lm-background); }
    .filters label.mb::before {
      background: var(--mb-background); }
    .filters label.mk {
      background: white;
      color: black; }
      .filters label.mk:before {
        background: var(--mk-background); }
    .filters label.noel {
      background-color: #00503c;
      color: #dad8d2; }
      .filters label.noel:before {
        background: var(--noel-background); }
    .filters label.pb {
      background-color: white;
      color: #004627; }
      .filters label.pb::before {
        background: var(--pb-background); }
    .filters label.qi {
      background-color: #00527e;
      color: white; }
      .filters label.qi::before {
        background: var(--qi-background); }
    .filters label.rb {
      background-color: #f7f8f8;
      color: #dd0741; }
      .filters label.rb::before {
        background: var(--rb-background); }
    .filters label.rl::before {
      background: var(--rl-background); }
    .filters label.sm {
      background-color: #101015; }
      .filters label.sm::before {
        background: var(--sm-background); }
    .filters label.tt {
      background-color: #333333; }
      .filters label.tt::before {
        background: var(--tt-background); }
    .filters label.ut {
      background-color: #4d4d4c;
      color: white; }
      .filters label.ut::before {
        background: var(--ut-background); }
    .filters label.w2 {
      background-color: #20110e;
      color: #ffffff; }
      .filters label.w2::before {
        background: var(--w2-background); }
    .filters label.wgt {
      background-color: #333;
      color: #bbb; }
      .filters label.wgt:before {
        background: var(--wgt-background); }
    .filters label.zf {
      background-color: white;
      color: #dc1e00; }
      .filters label.zf::before {
        background: var(--zf-background); }

#flyer-toggle:checked ~ .filters label[for="flyer-toggle"],
#filter-loc-ank:checked ~ .filters label[for="filter-loc-ank"],
#filter-loc-bc:checked ~ .filters label[for="filter-loc-bc"],
#filter-loc-ci:checked ~ .filters label[for="filter-loc-ci"],
#filter-loc-df:checked ~ .filters label[for="filter-loc-df"],
#filter-loc-fest:checked ~ .filters label[for="filter-loc-fest"],
#filter-loc-fk:checked ~ .filters label[for="filter-loc-fk"],
#filter-loc-fw:checked ~ .filters label[for="filter-loc-fw"],
#filter-loc-ha:checked ~ .filters label[for="filter-loc-ha"],
#filter-loc-hr:checked ~ .filters label[for="filter-loc-hr"],
#filter-loc-lm:checked ~ .filters label[for="filter-loc-lm"],
#filter-loc-mb:checked ~ .filters label[for="filter-loc-mb"],
#filter-loc-mk:checked ~ .filters label[for="filter-loc-mk"],
#filter-loc-noel:checked ~ .filters label[for="filter-loc-noel"],
#filter-loc-pb:checked ~ .filters label[for="filter-loc-pb"],
#filter-loc-qi:checked ~ .filters label[for="filter-loc-qi"],
#filter-loc-rb:checked ~ .filters label[for="filter-loc-rb"],
#filter-loc-rl:checked ~ .filters label[for="filter-loc-rl"],
#filter-loc-sm:checked ~ .filters label[for="filter-loc-sm"],
#filter-loc-tt:checked ~ .filters label[for="filter-loc-tt"],
#filter-loc-ut:checked ~ .filters label[for="filter-loc-ut"],
#filter-loc-w2:checked ~ .filters label[for="filter-loc-w2"],
#filter-loc-wgt:checked ~ .filters label[for="filter-loc-wgt"],
#filter-loc-zf:checked ~ .filters label[for="filter-loc-zf"] {
  border-color: #d81b60; }

#flyer-toggle:checked ~ main .event picture,
#filter-loc-ank:checked ~ main .event.ank,
#filter-loc-bc:checked ~ main .event.bc,
#filter-loc-ci:checked ~ main .event.ci,
#filter-loc-df:checked ~ main .event.df,
#filter-loc-fest:checked ~ main .event.fest,
#filter-loc-fk:checked ~ main .event.fk,
#filter-loc-fw:checked ~ main .event.fw,
#filter-loc-ha:checked ~ main .event.ha,
#filter-loc-hr:checked ~ main .event.hr,
#filter-loc-lm:checked ~ main .event.lm,
#filter-loc-mb:checked ~ main .event.mb,
#filter-loc-mk:checked ~ main .event.mk,
#filter-loc-noel:checked ~ main .event.noel,
#filter-loc-pb:checked ~ main .event.pb,
#filter-loc-qi:checked ~ main .event.qi,
#filter-loc-rb:checked ~ main .event.rb,
#filter-loc-rl:checked ~ main .event.rl,
#filter-loc-sm:checked ~ main .event.sm,
#filter-loc-tt:checked ~ main .event.tt,
#filter-loc-ut:checked ~ main .event.ut,
#filter-loc-w2:checked ~ main .event.w2,
#filter-loc-wgt:checked ~ main .event.wgt,
#filter-loc-zf:checked ~ main .event.zf {
  display: none; }

#filter-toggle:checked ~ .filters {
  height: 100%; }
  #filter-toggle:checked ~ .filters .toggle-down {
    display: none; }

.recht h1, .recht p {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; }

.recht a {
  text-decoration: underline; }
  .recht a:hover {
    color: white; }
