body {
    background: black;
    color: #a8a8a8;
    font-family: Arial, serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
a[href] {
    cursor: url('img/metalhand.cur'), url('img/metalhand.png'), url('img/metalhand.gif'), auto;
}

header {
    display: grid;
    grid-column: 3;
    grid-template-columns: 80px auto 80px;
    height: 100px;
}
header .update-time {
    font-size: smaller;
}
header .logo {
    display: block;
    height: 100%;
    background: url("img/logo.png") no-repeat center;
    background-size: contain;
}
header div:last-child {
    text-align: right;
    padding-right: 5px;
}
header .github {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url("img/GitHub-Mark-Light-64px.png") no-repeat center;
    background-size: contain;
    opacity: 50%;
}
header .github:hover {
    opacity: 100%;
}

main {
    display: grid;
    grid-column: 2;
    grid-template-columns: 70px auto;
}

.event-date {
    grid-column: 1;
    padding: 5px;
}
.event-date:nth-child(4n+1) {
    background: #202020;
}

.events {
    grid-column: 2;
    display: flex;
    flex-flow: wrap;
}
.events:nth-child(4n+2) {
    background: #202020;
}

.event {
    display: inline-block;
    box-shadow: 0 0 0 4px rgba(52, 52, 52, 0.7);
    margin: 5px;
    max-width: 200px;
    min-width: 166px;
    min-height: 30px;
    height: fit-content;
    color: #fefefe;
    background-color: black;
    text-decoration: none;
}
.event:hover {
    box-shadow: 0 0 0 4px #c0c0c0;
}
.event:first-line {
    line-height: 32px;
}
.event-location {
    float: left;
    width: 32px;
    height: 32px;
}

.event-img {
    width: 100%;
    vertical-align: bottom;
}
.event.tb {
    background-color: #e8e6d4;
    color: black;
}
.event.tb .event-location {
    background: url("img/tankbar.jpg");
}
.event.ha {
    background-color: #2e4d77;
    color: #f8f4e9;
}
.event.ha .event-location {
    background: url("img/hausauensee.jpg");
    background-size: contain;
}
.event.hr {
    background-color: black;
    color: #e61e1e;
}
.event.hr .event-location {
    background: url("img/hellraiser.jpg");
}
.event.bc {
    background-color: #167aad;
    color: #fefefe;
}
.event.bc .event-location {
    background: url("img/bandcommunity.png") no-repeat center;
    background-position-x: 1px;
}
.event.rl .event-location {
    background: url("img/rocklounge.png");
}
.event.mb .event-location {
    background: url("img/moritzbastei.png") no-repeat center;
    background-size: contain;
}
.event.w2 {
    background-color: #20110e;
    color: #ffffff;
}
.event.w2 .event-location {
    background: url("img/werk2.png") no-repeat center;
    background-size: contain;
}

a.more {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    background: #a8a8a8;
    color: black;
    box-shadow: 0 0 0 4px rgba(52, 52, 52, 0.7);
}
a.more:hover {
    box-shadow: 0 0 0 4px #c0c0c0;
    font-weight: bolder;
}
a.more:hover:before, a.more:hover:after {
    content: " ! ";
}

iframe {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: visible;
}

footer {
    display: none;
    font-size: smaller;
    width: 100%;
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
}