<details class="filters">
    <summary>Filter &amp; Einstellungen</summary>
    <hr>
    Location:
    {{#each locations}}
        <label class="{{this.slug}}" for="filter-loc-{{this.slug}}">{{this.name}}</label>
    {{/each}}
    <hr>
    Einstellungen: <label class="setting" for="flyer-toggle">Flyer anzeigen</label>
    <hr>
    <noscript><br/>Du hast kein JavaScript aktiviert. Dadurch sind ein paar Funktionen leider nicht verfügbar.
    </noscript>
</details>