<head>
    <meta charset="UTF-8">
    <title>Metal in Leipzig - {{title}}</title>
    {{if description}}
    <meta name="description" content="{{description}}">{{endif}}
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <link rel="preload" as="image" href="img/logo.svg">
    <link rel="icon" href="img/icon.png" type="image/x-icon">
    <style>{{> style-css }}</style>
</head>