<header>
    <div>
        <div><span class="update-time">{{update_time}} zuletzt aktualisiert</span></div>
        <div><a href="index.html" class="logo" title="Metal in Leipzig"></a></div>
        <div>
            <a href="https://github.com/Knochenmarc/metal-in-leipzig" target="_blank" title="Fork me on GitHub"
               class="github"></a><br/>
            <a href="recht.html" title="Rechtliches">ยง?!</a>
        </div>
    </div>
    {{#if withFilter}}{{> filter-controls}}{{/if}}
</header>