<!DOCTYPE html>
<html lang="de">
{{> head title="Bands, Konzerte und Parties"
        description="Kalender zu Metal-Bands, Konzerten und Parties in und um Leipzig." }}

<body>
{{> header }}
{{> filter }}
{{> event_list }}

</body>
</html>